
html {

	.nav-wrapper {
		height: 35px;
	}

body {
	background-color: grey; 
	height: 100%;
	margin: 0;
	padding: 0;

	.fullscreen {
		height: 752px;
		width: 100%;
	}

	#front-page {
		background-color: #212121;

		img {
			height: 752px;
			width: 100%;
		}
	}

	#map-page { 
		background-color: #212121;
		
		#map-canvas {
			margin: 0 auto;
			display: block;
			height: 600px;
			width: 85%;
			border-radius: 5px;
			border: 1px solid black;
		}

		#x {
			border: 1px solid white;
		}
	}

	#host-page {
		background-color: grey;

		.host-your-space {
			text-align: center;
			color: #f5f5f5;
		}
	}

	#about {
		background-color: #80cbc4;
		padding-top: 275px;

		h1 {
			text-align: center;
		}
	}
}

	.footer-copyright {
		background-color: #ee6e73;
		height: 45px;
		overflow: hidden;

		h5 {
			color: #f5f5f5;
		}
	}

}




