
html {

	.nav-wrapper {
		height: 35px;
	}

body {
	background-color: grey; 
	height: 100%;
	margin: 0;
	padding: 0;

	.fullscreen {
		height: 752px;
		width: 100%;
	}

	#front-page {
		background-color: #212121;

		img {
			height: 752px;
			width: 100%;
		}
	}

	#map-page { 
		background-color: #212121;

		.near-you {
			h5 {
				margin: 0 auto;
				color: #f5f5f5;
				text-align: center;
				display: block;
			}
		}
		
		#map-canvas {
			margin: 0 auto;
			height: 620px;
			width: 85%;
			border-radius: 5px;
			border: 1px solid black;
		}
	}

	#host-page {
		background-color: grey;

		.host-your-space {
			text-align: center;
			color: #f5f5f5;
		}
	}

	#about {
		background-color: #80cbc4;
		padding-top: 275px;

		h1 {
			text-align: center;
		}
	}
}

	.footer-copyright {
		background-color: #ee6e73;
		height: 45px;

		h5 {
			color: #f5f5f5;
		}
	}

}




