
html {

	.nav-wrapper {
		height: 35px;
		background-color: #42a5f5;
	}

body {
	background-color: grey; 
	height: 100%;
	margin: 0;
	padding: 0;

	.fullscreen {
		height: 752px;
		width: 100%;
	}

	#front-page {
		background-color: #212121;

		img {
			height: 752px;
			width: 100%;
		}
	}

	#map-page {
		background-color: #212121;

		.near-you {
			h5 {
				margin: 0 auto;
				color: #f5f5f5;
				text-align: center;
				display: block;
			}
		}
		
		#map-canvas {
			margin: 0 auto;
			height: 600px;
			width: 85%;
			border-radius: 5px;
			border: 1px solid black;
		}
	}

	#host-page {
		background-color: grey;

		.host-your-space {
			color: #f5f5f5;
		}
	}

	.yield {
		border-top: 2px solid black;	
			.list-space {
				text-align: center;
			}
	}
}

	.footer-copyright {
		height: 35px;
		background-color: #42a5f5;
	}

}


