html {

	.nav-wrapper {
		height: 35px;

		.brand-logo {
			padding-left: 12px;
		}
	}

body {
	background-color: grey; 
	height: 100%;
	margin: 0;
	padding: 0;

	.fullscreen {
		height: 752px;
		width: 100%;
	}

	#front-page {
		background-color: #212121;

		img {
			height: 752px;
			width: 100%;
		}
	}

	#map-page { 
		background-color: #212121;
		
		#map-canvas {
			margin: 0 auto;
			display: block;
			height: 600px;
			width: 85%;
			border-radius: 5px;
			border: 1px solid black;
		}

		#space_info {
			padding-top: 30px;
			#space-wrapper div {
				&:after {
					clear: both;
					display: block;
					content: '';
				}
				span:nth-child(odd) {
					float: left;
				}
				span:nth-child(even) {
					float: right;
				}
			}
		}
	}

	#host-page {
		background-color: #FFEFD5;

		#host-space-wrapper {
			padding-top: 80px;

			.host-your-space {
				text-align: center;
				color: #212121;
				}

				#submit-button{
					background-color: rgb(238, 110, 115);
					color: rgb(47, 38, 38);
				}
		}
	}

	#about {
		background-color: #80cbc4;
		padding-top: 180px;

		h2 {
			text-align: center;
		}
	}
}

	.footer-copyright {
		background-color: #ee6e73;
		height: 45px;
		overflow: hidden;

		.footer-header {
			padding-top: 12px;
			padding-left: 20px; 
			color: #f5f5f5;
		}
	}

}




